<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <h4>
      <span>
        <strong>Distance travelled</strong>: <%= user.local.highestDistance %>
        </span>
    </h4>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<!--<div class="row">

		--><!-- LOCAL INFORMATION --><!--
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %>
					</p>

			</div>
		</div>

	</div>-->
  <div class="row">

    <canvas id="game-container" width="1200" height="800"></canvas>
  </div>

</div>
  <script src="lib/socket.io-1.2.1.js"></script>
  <script src="lib/jquery-1.11.2.js"></script>
  <script src="https://code.createjs.com/createjs-2014.12.12.min.js"></script>
  <script src="lib/inheritance.js"></script>
  <script src="lib/keymaster.js"></script>
  <script src="js/Player.js"></script>
  <script src="js/game.js"></script>
</body>
</html>
